body {
  margin: 0;
  font-family: sans-serif;
  background: #efe6d8;
  text-align: center;
}

.navbar {
  position: relative;
  z-index: 1000;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.title {
  margin-top: 30px;
  font-size: 40px;
  color: #5d4037;
  font-family: cursive;
}

.languages {
  margin-top: 20px;
}

.languages select {
  padding: 10px;
  border-radius: 6px;
}

.about-content {
  margin-top: 30px;
  padding: 20px;
  font-size: 18px;
}
.about-box {
  margin-left: 260px;
  margin-top: 80px;
  max-width: 600px;
}

.about-title {
  font-size: 35px;
  font-family: cursive;
  color: #5d4037;
}

#greet {
  margin-top: 10px;
  font-weight: normal;
}

#about-text {
  margin-top: 20px;
  line-height: 1.8;
  font-size: 17px;
  color: #4e342e;
}
