body {
  margin: 0;
  background: #efe6d8;
  font-family: sans-serif;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  gap: 10px;
  padding: 15px;
}
.navbar {
    position: relative;
    z-index: 1000;
}
.navbar button {
  background: #d6b98c;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
}

/* TITLE */
.main {
  text-align: center;
}
.title {
  font-size: 50px;
  font-family: cursive;
  color: #5d4037;
}

/* SWING BOOK WORD */
.book-text {
  display: inline-block;
  animation: swing 2s infinite ease-in-out;
}
@keyframes swing {
  0% { transform: rotate(-8deg); }
  50% { transform: rotate(8deg); }
  100% { transform: rotate(-8deg); }
}

/* BOOK NORMAL */
.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
/* BOOK SIZE (FULL LOOK) */
.book {
  width: 90vw;
  height: 65vh;
  position: relative;
  perspective: 1500px;
}

/* COVER */
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: 1s;
  z-index: 2;
}
.cover img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* PAGE */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fffdf8;
  border-radius: 10px;
  padding: 30px;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(50px);
  transition: 1s;
}

/* PAGE CONTENT */
.page-content {
  text-align: center;
  margin-top: 50px;
}

/* OPEN EFFECT */
.book.open .cover {
  transform: rotateY(-160deg);
}
.book.open .page {
  opacity: 1;
  transform: translateY(0);
}

/* NEXT BUTTON */
.next-btn {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 25px;
  background: #5d4037;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
