* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f5efe6;
}

/* NAVBAR LEFT */
.navbar {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 15px;
}

/* RIBBON */
.nav-item {
    position: relative;
    padding: 12px 30px;
    background: linear-gradient(#f0e0b8, #d2b98b);
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* SIDES */
.nav-item::before,
.nav-item::after {
    content: "";
    position: absolute;
    top: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

.nav-item::before {
    left: -15px;
    border-right: 15px solid #d2b98b;
}

.nav-item::after {
    right: -15px;
    border-left: 15px solid #d2b98b;
}

/* MAIN CENTER */
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transform: translateY(-50px); /* upar shift */
}

/* TITLE */
.title {
    font-size: 80px;
    font-family: cursive;
    color: #5d4037;

    text-align: center;

    letter-spacing: 5px;
    line-height: 1.2;

    text-shadow:
        3px 3px 8px rgba(0,0,0,0.3),
        0 0 15px rgba(93,64,55,0.3);
}

/* BOOK IMAGE */
.book {
    margin-top: 20px;
    width: 200px;
}
